<ion-content>
  <!--Environmental Health -->
  <ion-card>
    
    <ion-item color='primary-dark'>
      {{ 'CLIENT' | translate }}
      <ion-label (click)="presentModal()">{{client.fname}} {{client.lname}}</ion-label>
      <button ion-button outline item-start (click)="close()" large>
          <ion-icon name="arrow-round-back" ></ion-icon>
      </button>
      <button ion-button item-start icon-only clear (click)="presentModal()" large>
          <ion-icon name="person" color="white"></ion-icon>
      </button>
    </ion-item>

    <ion-card-header ion-text text-wrap class='card-title'>
      {{ 'CONTEXTWITHINCOMMUNITY' | translate }}
    </ion-card-header>

    <ion-item-group>
      <!--Context Within Community-->
      <ion-item>
        <ion-label stacked>{{ 'YEARSLIVEDINCOMM' | translate }}</ion-label>
        <ion-select  [(ngModel)]="environmentalHealth.yearsLivedinthecommunity" interface ='popover'>
            <ion-option text-wrap value="lessThan1"> {{ 'LESSTHAN1YEAR' | translate }} </ion-option>
            <ion-option text-wrap value="1_2"> {{ '1-2' | translate }}  </ion-option>
            <ion-option text-wrap value="3_4"> {{ '3-4' | translate }}  </ion-option>
            <ion-option text-wrap value="5_10"> {{ '5-10' | translate }} </ion-option>
            <ion-option text-wrap value="moreThan10"> {{ '10+' | translate }}  </ion-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'YEARSLIVEDINTHISHOUSE' | translate }}</ion-label>
        <ion-select [(ngModel)]="environmentalHealth.yearsLivedinThisHouse" interface ='popover'>
          <ion-option text-wrap value="lessThan1"> {{ 'LESSTHAN1YEAR' | translate }} </ion-option>
          <ion-option text-wrap value="1_2"> {{ '1-2' | translate }}  </ion-option>
          <ion-option text-wrap value="3_4"> {{ '3-4' | translate }}  </ion-option>
          <ion-option text-wrap value="5_10"> {{ '5-10' | translate }} </ion-option>
          <ion-option text-wrap value="moreThan10"> {{ '10+' | translate }}  </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'BIGGESTPROBLEMOFCOMMUNITY' | translate }} </ion-label>
        <ion-textarea type="text" [(ngModel)]="environmentalHealth.biggestproblemofcommunity" placeholder="{{ 'BIGGESTPROBLEMOFCOMMUNITYSUB' | translate }}"></ion-textarea>
      </ion-item>
    </ion-item-group>
  </ion-card>

  <!--Accessibility-->
  <ion-card>
      <ion-card-header ion-text text-wrap class='card-title' (click)="expandItem(accordionItems[0])">
        {{ 'ACCESSIBILITY' | translate }}
      </ion-card-header>
    <ion-item-group>
      <accordion [expanded]="accordionItems[0].expanded">
        <ion-item>
          <ion-label stacked>{{ 'OFTENACCESSWATER' | translate }} </ion-label>
          <ion-select [(ngModel)]="environmentalHealth.waterAccess" interface ='popover'>
              <ion-option text-wrap value="everyday"> {{ 'EVERYDAY' | translate }}  </ion-option>
              <ion-option text-wrap value="4-6AWeek"> {{ '4-6DAYSAWEEK' | translate }} </ion-option>
              <ion-option text-wrap value="2-3AWeek"> {{ '2-3DAYSAWEEK' | translate }} </ion-option>
              <ion-option text-wrap value="1AWeek"> {{ 'LESSTHAN1DAYAWEEK' | translate }}  </ion-option>
              <ion-option text-wrap value="1AMonth"> {{ '1DAYAMONTH' | translate }}  </ion-option>
              <ion-option text-wrap value="Never"> {{ 'NEVER' | translate }} </ion-option>
          </ion-select>
        </ion-item>

        <ion-buttons padding-horizontal>
          <ion-label stacked>{{ 'TYPEOFWATER' | translate }} </ion-label>
          <button ion-button small [outline]="environmentalHealth.typeofWaterdoyoudrink == 'bottled' ? false : true" color="primary-darkest" (click)="set('bottled','typeofWaterdoyoudrink')">
              {{ 'BOTTLED' | translate }}
            </button>
            <button ion-button right small [outline]="environmentalHealth.typeofWaterdoyoudrink == 'tap' ? false : true" color="primary-darkest" (click)="set('tap','typeofWaterdoyoudrink')">
              {{ 'TAP' | translate }}
            </button>
        </ion-buttons>

        <ion-buttons padding-horizontal>
          <ion-label stacked>{{ 'ACCESSTOLATRINE' | translate }}  </ion-label>
          <button ion-button small [outline]="environmentalHealth.latrineAccess == 'Y' ? false : true" color="primary-darkest" (click)="set('Y','latrineAccess')">
            {{ 'YES' | translate }}
          </button>
          <button ion-button right small [outline]="environmentalHealth.latrineAccess == 'N' ? false : true" color="primary-darkest" (click)="set('N','latrineAccess')">
            {{ 'NO' | translate }}
          </button>
        </ion-buttons>

        <ion-buttons padding-horizontal>
          <ion-label stacked>{{ 'ACCESSTOCLINIC' | translate }} </ion-label>
          <button ion-button small [outline]="environmentalHealth.clinicAccess == 'Y' ? false : true" color="primary-darkest" (click)="set('Y','clinicAccess')">
              {{ 'YES' | translate }}
            </button>
            <button ion-button right small [outline]="environmentalHealth.clinicAccess == 'N' ? false : true" color="primary-darkest" (click)="set('N','clinicAccess')">
              {{ 'NO' | translate }}
            </button>
        </ion-buttons>
        
        <ion-item>
            <ion-label stacked>{{ 'WHEREDOYOUGOFORMEDICALPROBLEMS' | translate }} </ion-label>
            <ion-textarea type="text" [(ngModel)]="environmentalHealth.medicalproblemswheredoyougo" placeholder="{{ 'WHEREDOYOUGOFORMEDICALPROBLEMSSUB' | translate }}"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{ 'WHEREDOYOUGOFORDENTALPROBLEMS'| translate}}</ion-label>
          <ion-textarea type="text" [(ngModel)]="environmentalHealth.dentalproblemswheredoyougo" placeholder="{{ 'WHEREDOYOUGOFORDENTALPROBLEMSSUB' | translate }}"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{ 'TIMESTRASHISCOLLECTED' | translate }} </ion-label>
          <ion-textarea type="number" [(ngModel)]="environmentalHealth.timesperweektrashcollected" placeholder="{{ 'TIMESTRASHISCOLLECTEDSUB' | translate }}"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'WHEREISTRASHLEFT' | translate }} </ion-label>
          <ion-textarea type="text" [(ngModel)]="environmentalHealth.wheretrashleftbetweenpickups" placeholder="{{ 'WHEREISTRASHLEFTSUB' | translate }}"></ion-textarea>
        </ion-item>
      </accordion>
    </ion-item-group>
  </ion-card>

  <!--Housing Conditions-->
  <ion-card>
    <ion-card-header ion-text text-wrap class='card-title' (click)="expandItem(accordionItems[1])">
      {{ 'HOUSINGCONDITIONS'| translate}}
    </ion-card-header>
    <ion-item-group>
      <accordion [expanded]="accordionItems[1].expanded">

        <ion-buttons padding-horizontal>
          <ion-label stacked>{{ 'HOUSEOWNERSHIP'| translate}}</ion-label>
          <button ion-button small [outline]="environmentalHealth.houseownership == 'owned' ? false : true" color="primary-darkest" (click)="set('owned','houseownership')">
              {{ 'YES' | translate }}
            </button>
            <button ion-button right small [outline]="environmentalHealth.houseownership == 'rented' ? false : true" color="primary-darkest" (click)="set('rented','houseownership')">
              {{ 'NO' | translate }}
          </button>
        </ion-buttons>

        <ion-item>
          <ion-label stacked>{{ 'CONDITIONOFFLOOR'| translate}}</ion-label>
          <ion-select [(ngModel)]="environmentalHealth.conditionoFloorinyourhouse" interface ='popover'>
              <ion-option text-wrap value="dirtPoor"> {{ 'DIRTFLOOR' | translate }}, {{ 'POORCONDITION' | translate }}  </ion-option>
              <ion-option text-wrap value="dirtWorking"> {{ 'DIRTFLOOR' | translate }}, {{ 'WORKINGCONDITION' | translate }}   </ion-option>
              <ion-option text-wrap value="cementPoor"> {{ 'CEMENTFLOOR' | translate }}, {{ 'POORCONDITION' | translate }}  </ion-option>
              <ion-option text-wrap value="cementWorking"> {{ 'CEMENTFLOOR' | translate }}, {{ 'WORKINGCONDITION' | translate }}  </ion-option>
          </ion-select>
        </ion-item>

        <ion-buttons padding-horizontal>
          <ion-label stacked>{{'CONDITIONOFROOF'| translate}} </ion-label>
          <button ion-button small [outline]="environmentalHealth.conditionoRoofinyourhouse == 'poor' ? false : true" color="primary-darkest" (click)="set('poor','conditionoRoofinyourhouse')">
            {{ 'POORCONDITION' | translate }}
          </button>
          <button ion-button right small [outline]="environmentalHealth.conditionoRoofinyourhouse == 'working' ? false : true" color="primary-darkest" (click)="set('working','conditionoRoofinyourhouse')">
            {{ 'WORKINGCONDITION' | translate }}
          </button>
        </ion-buttons>
      </accordion>
    </ion-item-group>
  </ion-card>

  <ion-card>
    <ion-card-header ion-text text-wrap class="card-title" (click)="expandItem(accordionItems[2])">
      {{ 'POPULATION'| translate}}
    </ion-card-header>
    <ion-item-group>
      <accordion [expanded]="accordionItems[2].expanded">
        <ion-item>
          <ion-label stacked>{{ 'NUMBERINHOUSE'| translate}}</ion-label>
          <ion-textarea type="number" [(ngModel)]="environmentalHealth.numberofIndividualsLivingintheHouse" placeholder="{{ 'NUMBERINHOUSESUB'| translate}}"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{ 'NUMBERINHOUSEUNDERFIVE'| translate}}</ion-label>
          <ion-textarea type="number" [(ngModel)]="environmentalHealth.numberofChildrenLivinginHouseUndertheAgeof5" placeholder="{{ 'NUMBERINHOUSEUNDERFIVESUB' | translate }}"></ion-textarea>
        </ion-item>
      </accordion>
    </ion-item-group>
  </ion-card>
  
  <!--Submission-->
  <ion-card>
    <ion-item no-lines>
      <button ion-button icon-left full block large color="accent" (click)="post_n_clear()" [disabled]="!isenabled" >
        <ion-icon name="checkmark-circle"></ion-icon>
        {{'SUBMIT'| translate}}
      </button>
    </ion-item>
  </ion-card>
</ion-content>
