<ion-content >
  <ion-card>
    <ion-item color='primary-dark'>
      <button ion-button outline item-start (click)="close()" large>
          <ion-icon name="arrow-round-back" ></ion-icon>
      </button>
      <ion-label>{{patientID.fname}} {{patientID.lname}}</ion-label>
    </ion-item>
    <ion-card-header class='card-title' color="primary-light" (click)="close()">
      {{'REGISTRATION' | translate }}
    </ion-card-header>

    <ion-list>
        <ion-item>
          <p text-center>{{'PRESS' | translate }}</p>
          <button ion-button text-wrap color="primary-light" round block large (click)="openSignatureModel()">
              <ion-icon name="hand"></ion-icon><ion-icon name="create"></ion-icon>
          </button>
          <img [src]="signatureImage" *ngIf="signatureImage" />
        </ion-item>
        <ion-item>
          <p text-center>{{'PRESS' | translate }}</p>
          <button ion-button text-wrap color="primary-light" round block large (click)='takePhoto()'>
              <ion-icon name="camera"></ion-icon>
          </button>
          <img [src]="image" *ngIf="image" />
        </ion-item>

        <ion-item>
          <ion-label stacked>{{'FIRSTNAME' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.fname" (ngModelChange)="checkifenter()" placeholder="{{ 'INPUT' | translate }}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked  >{{'LASTNAME' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.lname" placeholder="{{ 'INPUT' | translate }}"></ion-input>
        </ion-item>

        <ion-item (click)="presentModal()">
          <ion-label stacked >{{'MOTHERFATHERGUARDIAN' | translate}}: </ion-label>
          <ion-input type="text" placeholder="{{ 'FIRSTNAME' | translate }}" disabled="disabled">{{relationship.fname}}</ion-input>
          <ion-input type="text" placeholder="{{ 'LASTNAME' | translate }}" disabled="disabled">{{relationship.lname}}</ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{'NICKNAME' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.nickname" placeholder="{{ 'INPUT' | translate }}"></ion-input>
        </ion-item>

          
          <!--ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="patientID.dob" placeholder="{{ 'INPUT' | translate }}"></ion-datetime-->
        <ion-grid padding='5%'>
          <ion-label stacked>{{'DOB' | translate }}</ion-label>
          <ion-row>
            <ion-col col-3>
                <ion-label stacked>{{'DAY' | translate }}</ion-label>
                <ion-input class="border" type="tel" [(ngModel)]="date_of_birth.day" placeholder="DD" maxlength='2' ></ion-input>
            </ion-col>
            <ion-col col-3>
                <ion-label stacked>{{'MONTH' | translate }}</ion-label>
                <ion-input class="border" type="tel" [(ngModel)]="date_of_birth.month" placeholder="MM" maxlength='2' ></ion-input>
            </ion-col>
            <ion-col col-3>
                <ion-label stacked>{{'YEAR' | translate }}</ion-label>
                <ion-input class="border" type="tel" [(ngModel)]="date_of_birth.year" placeholder="YYYY" maxlength='4' ></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-buttons padding-horizontal>
          <ion-label>{{'SEX' | translate }}</ion-label>
          <button ion-button small [outline]="patientID.sex == 'Male' ? false : true" color="primary-darkest" (click)="set('Male','sex')">
              {{ 'MALE' | translate }}
            </button>
            <button ion-button right small [outline]="patientID.sex == 'Female' ? false : true" color="primary-darkest" (click)="set('Female','sex')">
              {{ 'FEMALE' | translate }}
          </button>
        </ion-buttons>

        <ion-item>
          <ion-label stacked>{{'TELNUM' | translate }}</ion-label>
          <ion-input type="tel" [(ngModel)]="patientID.telephoneNumber" placeholder="123-4567"></ion-input>
        </ion-item>

        <ion-buttons padding-horizontal>
          <ion-label>{{'MARRIAGESTATUS' | translate }}</ion-label>
          <button ion-button right small [outline]="patientID.marriageStatus == 'single' ? false : true" color="primary-darkest" (click)="set('single','marriageStatus')">
            {{ 'SINGLE' | translate }}
          </button>
          <button ion-button right small [outline]="patientID.marriageStatus == 'married' ? false : true" color="primary-darkest" (click)="set('married','marriageStatus')">
            {{ 'MARRIED' | translate }}
          </button>
          <button ion-button right small [outline]="patientID.marriageStatus == 'free_union' ? false : true" color="primary-darkest" (click)="set('free_union','marriageStatus')">
            {{ 'FREEUNION' | translate }}
          </button>
          <button ion-button right small [outline]="patientID.marriageStatus == 'widow' ? false : true" color="primary-darkest" (click)="set('widow','marriageStatus')">
            {{ 'WIDOW' | translate }}
          </button>
        </ion-buttons>
      
        <ion-item>
          <ion-label stacked>{{'OCCUPATION' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.occupation"></ion-input>
        </ion-item>

        <ion-buttons padding-horizontal>
          <ion-label>{{'EDUCATION' | translate }}</ion-label>
          <button ion-button right small [outline]="patientID.educationLevel == 'lessThanprimary' ? false : true" color="primary-darkest" (click)="set('lessThanprimary','educationLevel')">
            {{ 'LESSTHANPRIMARY' | translate }}
          </button>
          <button ion-button right small [outline]="patientID.educationLevel == 'primary' ? false : true" color="primary-darkest" (click)="set('primary','educationLevel')">
            {{ 'PRIMARY' | translate }}
          </button>
          <button ion-button right small [outline]="patientID.educationLevel == 'someHighSchool' ? false : true" color="primary-darkest" (click)="set('someHighSchool','educationLevel')">
            {{ 'SOMEHIGHSCHOOL' | translate }}
          </button>
          <button ion-button right small [outline]="patientID.educationLevel == 'highschool' ? false : true" color="primary-darkest" (click)="set('highschool','educationLevel')">
            {{ 'HIGHSCHOOL' | translate }}
          </button>
          <button ion-button right small [outline]="patientID.educationLevel == 'someCollege' ? false : true" color="primary-darkest" (click)="set('someCollege','educationLevel')">
            {{ 'SOMECOLLEGE' | translate }}
          </button>
          <button ion-button right small [outline]="patientID.educationLevel == 'college' ? false : true" color="primary-darkest" (click)="set('college','educationLevel')">
            {{ 'COLLEGE' | translate }}
          </button>
        </ion-buttons>

        <ion-item>
          <ion-label stacked>{{'COMMUNITY' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="geography.communityname" placeholder="{{ 'INPUT' | translate }}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{'CITY' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="geography.city" placeholder="{{ 'INPUT' | translate }}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{'PROVINCE' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="geography.province" placeholder="{{ 'INPUT' | translate }}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{'INSURANCENUM' | translate }}</ion-label>
          <ion-input type="number" [(ngModel)]="patientID.insuranceNumber" placeholder="{{ 'INPUT' | translate }}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{'INSURANCEPROV' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.insuranceProvider" placeholder="{{ 'INPUT' | translate }}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{'CLINICPROV' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.clinicProvider" placeholder="{{ 'INPUT' | translate }}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{'LICENSENUM' | translate }}</ion-label>
          <ion-input type="number" [(ngModel)]="patientID.cedulaNumber" placeholder="{{ 'INPUT' | translate }}"></ion-input>
        </ion-item> 
        
    </ion-list>

  </ion-card>

  <!--  Latitude and Longitude  -->
  <ion-card>
    <ion-card-header class='card-title'>
      {{'LOCATION' | translate }} <!--| Ubicación-->
    </ion-card-header>

    <ion-item>
      <p text-center>{{'PRESS' | translate }}</p>
      
      <button ion-button text-wrap color="primary-light" round block large (click)='recordCoordinates()'>
        
        {{patientID.latitude}} {{patientID.longitude}}
      </button>
    </ion-item>
  </ion-card>

  <!--ion-card>
    <ion-card-header class='card-title'>
        {{'PHOTO' | translate }}
    </ion-card-header>

    <ion-item>
      <img [src]="Imgsrc" *ngIf="Imgsrc" />
      <button ion-button text-wrap color="primary-light" round block large (click)="takePhoto()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-item>
  </ion-card-->

  <ion-card>
    <ion-item no-lines>
      <button ion-button icon-left full block large color="accent" (click)="post_n_clear()" [disabled]="!isenabled">
        <ion-spinner *ngIf="is_submitting"></ion-spinner>
        <ion-icon *ngIf="!is_submitting" name="checkmark-circle"></ion-icon>
        {{'SUBMIT' | translate }} {{'REGISTRATION' | translate }}
      </button>
    </ion-item>
  </ion-card>
</ion-content>


