page-consent-form {

  .toolbar{
    padding-top: 25px !important;
  }

  .tutorial-page{
    //background-color:  map-get($colors,primary);
    background-color: rgb(245, 243, 243);
    padding: 5px;
    margin: auto;
  }
}
